header {
  background: #666;
  color: #fff;
  line-height: 2em;
  font-size: 1.5em;
  text-align: center;
}

.header-span {
  margin: 0 140px 0 60px;
  font-size: 1.2em;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

button {
  background-color: #e47911;
  padding: 1em;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

button:hover {
  background-color: #8bb02e;
}

main {
  margin: 1.5em;

  ul {
      list-style-type: none;

      li {
          background: #eee;
          line-height: 1.5em;
          margin: .5em;
          padding: .5em;

          div {
            display: flex;
            flex-direction: row;

            span {
              width: 300px;
            }
          }
          }
      }
}

td {
  padding: 0 210px 0 10px;
}

footer {
  background: #666;
  color: #fff;
  line-height: 5em;
  text-align: center;
}
